html {
  font-family: 'Vollkorn', serif;
}

.title {
  font-size: 3em;
  text-align: center;
  font-style: italic;
}

audio {
  width: 100%;
}

table {
  margin: 1.5em;
}

th {
  font-size: 1.5em;
}

tr:hover {
  cursor: pointer;
}
